@import 'owl.carousel/dist/assets/owl.carousel.css';
@import 'owl.carousel/dist/assets/owl.theme.default.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  color: #1c1c25 !important;
  width: 100%;
  height: 100%;
  overflow-x: clip;
  position: static !important;
  top: 0 !important;
}

iframe.skiptranslate {
  display: none !important;
}

.owl-nav {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.btn-outline {
  color: #000;
  border: 1px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(70deg, #0fabf6, #455ab5, #eb577b);
}

.gradient-border {
  border-image-slice: 1;
  border-image-source: linear-gradient(
    0deg,
    rgba(15, 171, 246, 0.5),
    rgba(69, 90, 181, 0.5),
    rgba(235, 87, 123, 0.5)
  );
}

@media screen and (max-width: 768px) {
  .owl-nav {
    position: relative;
    justify-content: center;
    transform: none;
    margin-top: 20px;
    top: auto;
    left: auto;
  }
}
