@import 'owl.carousel/dist/assets/owl.carousel.css';
@import 'owl.carousel/dist/assets/owl.theme.default.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  color: #1c1c25 !important;
  width: 100%;
  height: 100%;
  overflow-x: clip;
  position: static !important;
  top: 0 !important;
}

iframe.skiptranslate {
  display: none !important;
}

.owl-nav {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.btn-outline {
  color: #000;
  border: 1px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(70deg, #0fabf6, #455ab5, #eb577b);
}

.gradient-border {
  border-image-slice: 1;
  border-image-source: linear-gradient(0deg,
      rgba(15, 171, 246, 0.5),
      rgba(69, 90, 181, 0.5),
      rgba(235, 87, 123, 0.5));
}

@media screen and (max-width: 768px) {
  .owl-nav {
    position: relative;
    justify-content: center;
    transform: none;
    margin-top: 20px;
    top: auto;
    left: auto;
  }
}

/* Toolbar background and text color */
.jsoneditor-menu {
  background-color: #393e58 !important;
}

.jsoneditor {
  border: 1px solid #393e58 !important;
}

.root {
  --ck-border-radius: 4px;
}

/* Editor content area */
.ck.ck-editor__editable_inline {
  transition: 0.3s;
  padding: 1rem;
}

.ck.ck-editor__editable_inline:hover {
  border-color: #666;
}

.ck-content h1 {
  font-size: 2rem;
  font-weight: bold;
}

.ck-content h2 {
  font-size: 1.5rem;
  font-weight: bold;
}

.ck-content h3 {
  font-size: 1.25rem;
  font-weight: bold;
}

.ck-content p {
  font-size: 1rem;
}

.ck-content ul {
  list-style-type: disc;
  padding-left: 1.2em;
}

.ck-content ol {
  list-style-type: decimal;
  padding-left: 1.2em;
}

.ck-content figure.image {
  display: block;
  margin: 1em 0;
}

.ck-content figure.align-left {
  float: left;
  margin-right: 1em;
}

.ck-content figure.align-center {
  display: block;
  margin: 1em auto;
  text-align: center;
}

.ck-content figure.align-right {
  float: right;
  margin-left: 1em;
}



/* Blockquotes */
blockquote {
  border-left: 4px solid #ccc;
  margin-left: 0;
  margin-right: 0;
  padding-left: 1rem;
  color: #555;
  font-style: italic;
}

/* Lists */
ul,
ol {
  margin-left: 1.5rem;
}

/* globals.css or component CSS */
.ck-content img {
  width: auto !important;
  /* important to let editor's width apply */
  max-width: 100%;
  /* optional to prevent overflow */
  height: auto;
}