@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  color: #000 !important;
  width: 100%;
  height: 100%;
  overflow-x: clip;
}

.owl-nav {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 768px) {
  .owl-nav {
    position: relative;
    justify-content: center;
    transform: none;
    margin-top: 20px;
    top: auto;
    left: auto;
  }
}
